<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164277272640-1dle682kcajisu68juvt5uf8s8c78d5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164277272640-1dle682kcajisu68juvt5uf8s8c78d5m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>164277272640-r4o38pid1q4nk8db18jojefffj44o95j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJM8K_Y2hrRisDiuqS4s73MApV39k8188</string>
	<key>GCM_SENDER_ID</key>
	<string>164277272640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-39bfa</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-39bfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164277272640:ios:a0269372b9349323a3dfa5</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-39bfa.firebaseio.com</string>
</dict>
</plist>